[submodule "overlays/Vitis_Libraries/vision"]
	path = overlays/Vitis_Libraries/vision
	url = https://gitenterprise.xilinx.com/FaaSApps/xf_opencv
	branch = next
[submodule "petalinux/xilinx-vck190-base-trd"]
	path = petalinux/xilinx-vck190-base-trd
	url = https://gitenterprise.xilinx.com/PAEG/xilinx-vck190-base-trd-bsp.git
	branch = 2021.1
