[submodule "overlays/xvdpu/kernels/vitis_prj/vvas"]
	path = overlays/xvdpu/kernels/vitis_prj/vvas
	url = https://gitenterprise.xilinx.com/IPS-SSW/vvas.git
	branch = master
[submodule "petalinux/xilinx-vck190-base-trd/project-spec/meta-vitis"]
	path = petalinux/xilinx-vck190-base-trd/project-spec/meta-vitis
	url = https://gitenterprise.xilinx.com/Yocto/meta-vitis.git
	branch = 2022
[submodule "overlays/Vitis_Libraries"]
	path = overlays/Vitis_Libraries
	url = https://gitenterprise.xilinx.com/FaaSApps/Vitis_Libraries.git
