[submodule "overlays/Vitis_Libraries/vision"]
	path = overlays/Vitis_Libraries/vision
	url = https://gitenterprise.xilinx.com/FaaSApps/xf_opencv
	branch = next
[submodule "overlays/examples/xvdpu/vitis_prj/ivas"]
	path = overlays/xvdpu/kernels/vitis_prj/ivas
	url = https://github.com/Xilinx/VVAS.git
